<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Izin untuk mengakses kamera -->
    <uses-permission android:name="android.permission.CAMERA"/>
    <!-- Izin untuk membaca dan menulis file (kebutuhan image_picker pada Android 10 ke atas) -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- Izin untuk akses internet (untuk API request) -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:label="dapoer_plan"
        android:requestLegacyExternalStorage="true"
        ...>
        <!-- File provider yang diperlukan untuk image_picker -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>
    </application>
</manifest>
